@import "tailwindcss";

:root {
    font-family: "Roboto", sans-serif;
    --primary-color: ##fef112;
    --secondary-color: #
}
body {
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
}